{% extends 'base.html.twig' %}

{% block title %}Todo List App!{% endblock %}

{% block body %}
<h1>Hello<h1>
    <a href="{{path('app_register')}}" class="btn bg-primary text-light">Register</a>  
 <a href="{{path('app_login')}}" class="btn bg-primary text-light">Login</a>

 <a href="{{path('connect_google_start')}}" class="btn bg-danger text-light">Connect to Google</a>
{% endblock %}
